
<form >
<table border="0" cellpadding="10px" align="center">
<tr>
<th colspan="3" align="center">Database-Connection</th>
</tr>
<tr>
<th width="30%" bgcolor="yellow" align="right">Value</th>
<th width="30%" bgcolor="lightgreen" align="center">current</th>
<th width="30%" bgcolor="red" align="center">new</th>
</tr>
<tr>
  <td align="right" width="30%">Servername</td>
  <td width="30%"><output id="hostname">${hostname}</output></td>
  <td width="30%"><input id="new.hostname" value="${hostname}"></td>
</tr>
<tr>
  <td align="right">Database</td>
  <td><output id="database">${database}</output></td>
  <td><input id="new.database" value="${database}"></td>
</tr>
<tr>
  <td align="right">Username</td>
  <td><output id="username">${username}</output></td> 
  <td><input id="new.username" value="${username}"></td>
</tr>
<tr>
  <td align="right">Password</td>
  <td><output id="password">${password}</output></td> 
  <td><input id="new.password" type="password" value="${password}"></td>
</tr>
<tr>
  <td></td>
  <td align="left"><input type="reset" value="Zurücksetzen"></td>
  <td><input type="submit" value="Absenden"></td>
</tr>
  
</table>

</form>
